.App {
  text-align: center;
}

body {
  background-color: #232741;
}

@font-face {
  font-family: 'Choco cooky';
  font-style: normal;
  font-weight: normal;
  src: local('Choco cooky'), url('Chococooky.woff') format('woff');
}

.Choco {
  font-family: 'Choco cooky';
}
.center {
  display: flex;
  justify-content: center;
}

.particals {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
